DATABASE_URL="postgresql://neondb_owner:npg_84XQTUaYAzOG@ep-icy-dawn-aybp6rlb-pooler.c-5.us-east-2.aws.neon.tech/chai_nurma_finance?sslmode=require&channel_binding=require"
JWT_SECRET="chai-nurma-super-secret-2026-ubah-ini"
PORT=3000